@model List<ServicesDeskUCAB.DTO.TicketCDTO>

@section scripts{

    <!-- JS PARA TRAER LA VENTANA EMERGENTE DEL BOTON "CREAR PRIORIDAD" -->
    <script>
        $(function () {
            var PlaceHolderElement = $('#PlaceHolderTicket');
            $('#btnAgregar').click(function (event) {
                var url = $(this).data('url');
                $.get(url).done(function (data) {
                    PlaceHolderElement.html(data);
                    PlaceHolderElement.find('header').empty();
                    PlaceHolderElement.find('footer').empty();
                    PlaceHolderElement.find('.modal').modal('show');
                })
            })

        })
    </script>

    <!-- JS PARA TRAER LA VENTANA EMERGENTE DE EDICION DE PRIORIDAD -->
    <script>
        $(function () {
            var PlaceHolderElement = $('#PlaceHolderEditar');
            $("#btnEditar, .btn-primary").click(function (event) {
                var id = $(this).closest('tr').find('.id').text();
                var url = $(this).data('url').replace("idPrioridad", id);
                $.get(url).done(function (data) {
                    PlaceHolderElement.html(data);
                    PlaceHolderElement.find('header').empty();
                    PlaceHolderElement.find('footer').empty();
                    PlaceHolderElement.find('.modal').modal('show');
                })
            })

        })
    </script>

}

@{
    ViewData["Title"] = "Gestion Tickets";
}

<!-- DIVS CONTENEDORES DE LAS DIFERENTES VENTANAS EMERGENTES -->
<div id="PlaceHolderTicket"></div>
<div id="PlaceHolderEditar"></div>

<!-- BOTON PARA ACCIONAR LA VENTANA EMERGENTE -->
<button id=btnAgregar type="button" class="btn btn-warning btn-sm" data-toggle="ajax-modal" data-target="#popUpAgregar" data-url="@Url.Action("VentanaAgregarTicket")">
    Crear Ticket
</button>
<br />
<br/>

<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Nombre
        </th>
        <th>
            Fecha
        </th>
        <th>
            Descripción
        </th>
        <th>
            Origen
        </th>
        <th>
            Destinatario
        </th>
        <th>
            Prioridad
        </th>
        <th>
            Estado
        </th>
        <th>
            Categoria
        </th>
        <th>
            Acciones
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="id">
                @Html.DisplayFor(i => item.id)
            </td>
            <td>
                @Html.DisplayFor(i => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(i => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(i => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(i => item.creadopor)
            </td>
            <td>
                @Html.DisplayFor(i => item.asginadoa)
            </td>
            <td>
                @Html.DisplayFor(i => item.prioridad)
            </td>
            <td>
                @Html.DisplayFor(i => item.estado)
            </td>
            <td>
                @Html.DisplayFor(i => item.categoria)
            </td>
            <td>
                <button id=btnEditar type="button" class="btn btn-primary btn-sm" data-toggle="ajax-modal" data-target="#popUpEditar" data-url="@Url.Action("VentanaEditarTicket","Ticket",new { id = "idTicket" })">
                    Editar
                </button>
            </td>
        </tr>
    }

</table>
