@model List<ServicesDeskUCAB.DTO.EstadoDTO>


@section scripts{

<!-- JS PARA TRAER LA VENTANA EMERGENTE DEL BOTON "CREAR Estado" -->
<script>
    $(function () {
        var PlaceHolderElement = $('#PlaceHolderEstado');
        $('#btnAgregar').click(function (event) {
            var url = $(this).data('url');
            $.get(url).done(function (data) {
                PlaceHolderElement.html(data);
                PlaceHolderElement.find('header').empty();
                PlaceHolderElement.find('footer').empty();
                PlaceHolderElement.find('.modal').modal('show');
            })
        })

    })
</script>

<!-- JS PARA TRAER LA VENTANA EMERGENTE DE CONFIRMACION DE ELIMINACION -->
<script>
    $(function () {
        var PlaceHolderElement = $('#PlaceHolderEliminar');
        $("#btnEliminar, .btn-danger").click(function (event) {
            var id = $(this).closest('tr').find('.id').text();
            var url = $(this).data('url').replace("idEstado", id);
            $.get(url).done(function (data) {
                PlaceHolderElement.html(data);
                PlaceHolderElement.find('header').empty();
                PlaceHolderElement.find('footer').empty();
                PlaceHolderElement.find('.modal').modal('show');
            })
        })

    })
</script>


<!-- JS PARA TRAER LA VENTANA EMERGENTE DE EDICION DE Estado -->
<script>
    $(function () {
        var PlaceHolderElement = $('#PlaceHolderEditar');
        $("#btnEditar, .btn-primary").click(function (event) {
            var id = $(this).closest('tr').find('.id').text();
            var url = $(this).data('url').replace("idEstado", id);
            $.get(url).done(function (data) {
                PlaceHolderElement.html(data);
                PlaceHolderElement.find('header').empty();
                PlaceHolderElement.find('footer').empty();
                PlaceHolderElement.find('.modal').modal('show');
            })
        })

    })
</script>
}


@{
    ViewData["Title"] = "Gestion Estados";
}

<!-- DIVS CONTENEDORES DE LAS DIFERENTES VENTANAS EMERGENTES -->
<div id="PlaceHolderEstado"></div>
<div id="PlaceHolderEliminar"></div>
<div id="PlaceHolderEditar"></div>

<!-- BOTON PARA ACCIONAR LA VENTANA EMERGENTE -->
<button id=btnAgregar type="button" class="btn btn-warning btn-sm" data-toggle="ajax-modal" data-target="#popUpAgregar"
    data-url="@Url.Action("VentanaAgregarEstado")">
    Crear Estado
</button>
<br />
<br />

<!-- INICIO DE TABLA DE DATOS -->
<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Nombre
        </th>
        <th>
            Id Etiqueta
        </th>
        <th>
            Etiqueta
        </th>
        <th>
            Acciones
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="id">
                @Html.DisplayFor(i => item.id)
            </td>
            <td>
                @Html.DisplayFor(i => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(i => item.etiquetaId)
            </td>
             <td>
                @Html.DisplayFor(i => item.etiqueta)
            </td>
            <td>
                <button id=btnEditar type="button" class="btn btn-primary btn-sm" data-toggle="ajax-modal"
                data-target="#popUpEditar"
                data-url="@Url.Action("VentanaEditarEstado","Estado",new { id = "idEstado" })">
                    Editar
                </button>
                <button id=btnEliminar type="button" class="btn btn-danger btn-sm" data-toggle="ajax-modal"
                data-target="#popUpEliminar"
                data-url="@Url.Action("VentanaEliminarEstado","Estado",new { id = "idEstado" })">
                    Eliminar
                </button>
            </td>
        </tr>
    }

</table>